<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="../stylesheets/booking.style.css" rel="stylesheet" />

  </head>
  <body class="background-image">
    <h1>Let's secure your space</h1>

    <div class="main-container">
      {{! Departure Countries }}
      <div class="departure-section">
        <form id="departureForm">

          <select id="departureSelect">
            <option value=""></option>
            <option value="Texas, USA">Texas, USA</option>
            <option value="Valencia, SPAIN">Valencia, SPAIN</option>
            <option value="Manila, PHILIPPINES">Manila, PHILIPPINES</option>
            <option value="Mumbai, INDIA">Mumbai, INDIA</option>
            <option value="Stockholm, SWEDEN">Stockholm, SWEDEN</option>
          </select>
        </form>

        <div class="images-container">
          <img id="earth" src="../images/earthbase.png" alt="earth" />
          <img id="depUsa" src="../images/usa.png" alt="usa" />
          <img id="depSpain" src="../images/spain.png" alt="spain" />
          <img id="depIndia" src="../images/india.png" alt="india" />
          <img id="depPhil" src="../images/phil.png" alt="phil" />
          <img id="depSweden" src="../images/sweden.png" alt="sweden" />
        </div>
      </div>

      {{! Destination }}
      <div class="destination-section">
        <form id="destinationForm">
          <select id="destinationSelect">
            <option value=""></option>
            <option value="Moon">Moon</option>
            <option value="Mars">Mars</option>
            <option value="Venus">Venus</option>
            <option value="Jupiter">Jupiter</option>
            <option value="Lo">Lo</option>
          </select>
        </form>
        <div class="images-container">
          <img id="sun" src="../images/sun.png" alt="sun" />
          <img id="moon" src="../images/moon.png" alt="moon" />
          <img id="mars" src="../images/mars.png" alt="mars" />
          <img id="venus" src="../images/venus.png" alt="venus" />
          <img id="jupiter" src="../images/jupiter.png" alt="jupiter" />
          <img id="lo" src="../images/lo.png" alt="lo" />
        </div>
      </div>

      <div id="booking-container">
        <div id="departureLabel">Departure</div>
        <ul
          id="departureOptions"
          class="dep-dropdown-options"
          style="display:none;"
        >
          <li data-value="Texas, USA">Texas, USA</li>
          <li data-value="Valencia, SPAIN">Valencia, SPAIN</li>
          <li data-value="Manila, PHILIPPINES">Manila, PHILIPPINES</li>
          <li data-value="Mumbai, INDIA">Mumbai, INDIA</li>
          <li data-value="Stockholm, SWEDEN">Stockholm, SWEDEN</li>
        </ul>

        {{! Departure Date outside the form }}
        <label id="depDate" for="departureDate">Departure Date</label>
        <input type="date" id="departureDate" class="departure-date-picker" />

        <div id="destLabel">Destination</div>
        <ul
          id="destinationOptions"
          class="dest-dropdown-options"
          style="display:none;"
        >
          <li data-value="Moon">Moon</li>
          <li data-value="Mars">Mars</li>
          <li data-value="Venus">Venus</li>
          <li data-value="Jupiter">Jupiter</li>
          <li data-value="Lo">Lo</li>
        </ul>

        {{! Return Date outside the form }}
        <label id="retDate" for="returnDate">Return Date</label>
        <input type="date" id="returnDate" class="return-date-picker" />

      </div>
      <a
        href="/auth/passenger-info"
        id="submitBtn"
        type="button"
        class="submitBtn"
      >Book this</a>
    </div>

    </div>
      <a
        href="/profile"
        id="backBtn"
        type="button"
        class="backBtn"
      >Back</a>
    </div>

    <script src="/js/booking.js"></script>

  </body>
</html>