<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="../stylesheets/booking.style.css" rel="stylesheet" />
  </head>
  <body class="background-image">
    <h1>Book your flight here!</h1>

    <div class="depart">
      <img src="../images/earth2.png" alt="earth" />
    </div>

  </body>
</html>