<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="../stylesheets/booking.style.css" rel="stylesheet" />
  </head>
  <body class="background-image">
    <h1>Your space adventure starts here!</h1>

    <div class="main-container">
      <div class="usa">
        <img src="../images/usa.png" alt="earth" />
      </div>
      <div id="booking-container">
        <div id="departureLabel">Departure</div>
        <form id="bookingForm" style="display: none;">
          <label for="countrySelect">Choose a departure country:</label>
          <select id="countrySelect">
            <option value="Mumbai, India">Mumbai, India</option>
            <option value="Texas, USA">Texas, USA</option>
          </select>
          <input type="submit" value="Book Flight" />
        </form>

      </div>

    </div>

  </body>
</html>