<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Our Fleet</title>
    <link href="../stylesheets/our-fleet.style.css" rel="stylesheet" />
  </head>
  <body class="background-image">

    {{! horizontal navbar for user profile dashboard }}
    <nav>
      <div class="hamburger-menu">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            href="/profile"
          >Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Destinations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/auth/crew">Crew</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/auth/our-fleet">Our Fleet</a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            id="logoutLink"
            href="#"
            onclick="performLogout(event)"
          >Logout</a>
        </li>
      </ul>
    </nav>

    <div class="header-line">
      <h1>Our Fleet</h1>
      <span class="line"></span>
    </div>

    <div class="fleet-container1">

      <div class="fleet2">
        <video src="../images/fleet2.mp4" autoplay loop muted></video>
        <div class="about-fleet2" id="name2"><b>Nova Cruiser</b></div>
        <div class="info-fleet2" id="info2">
          <p><b>Type: Interplanetary Passenger Craft</b></p>
          <p>Capacity: 2000 - 3000 crew and passengers</p>
          <p>Engine: Hybrid Chemical and Powerful Nuclear Propulsion System</p>
        </div>

      </div>
      <div class="fleet3">
        <video src="../images/fleet3.mp4" autoplay loop muted></video>
        <div class="about-fleet3" id="name3">Europa One</div>
        <div class="info-fleet3" id="info3">
          <p><b>Type: Orbital Crew and Passenger Vessel</b></p>
          <p>Capacity: 10 - 15 crew and passengers</p>
          <p>Engine: Ion Propulsion System</p>
        </div>
      </div>

      <div class="fleet4">
        <video src="../images/fleet4.mp4" autoplay loop muted></video>
        <div class="about-fleet4" id="name4">Hyperion</div>
        <div class="info-fleet4" id="info4">
          <p><b>Type: Orbital - Interplanetary Crew Spacecraft</b></p>
          <p>Capacity: 50 - 1000 crew </p>
          <p>Engine: Hybrid Chemical and Nuclear Propulsion System</p>
      </div>
      </div>
      <div class="fleet5">
        <img src="../images/fleet5.jpg" />
        <div class="about-fleet5" id="name5">Space Hotel Voyager</div>
        <div class="info-fleet5" id="info5">
          <p><b>Type: Orbital Hotel</b></p>
          <p>Capacity: 1000 - 1500 crew and passengers</p>
          <p>Engine: Chemical and Ion Propulsion Systems</p>
      </div>
    </div>
    <script src="/js/ourFleet.js"></script>
  </body>
</html>