<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Passenger Info</title>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:500,900,100,300,700,400"
      rel="stylesheet"
    />
    <link href="../stylesheets/passengerInfo.style.css" rel="stylesheet"/>
</head>
<body>
  <section class="showcase">
    <div class="heading">
      <section>
        <h3>Number of Passengers</h3>
      </section>
      <section class="wrapper">
        <span class="minus">-</span>
        <span class="num">1</span>
        <span class="plus">+</span>
      </section>
    </div>
    <div class="content">
      <div class="content-1-passenger">
content1
      </div>
      <div class="content-2-passengers">
content2
      </div>
      <button type="submit" class="btn">Submit</button> 
    </div>
  </section>

  

    <script src="/js/passengerInfo.js"></script>
</body>
</html>