<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Profile</title>
    <link rel="stylesheet" href="../stylesheets/style.css" />
  </head>
  <body class="background-image">
    <div class="bar">
      <ul>
        <li><a style="pointer-events: none; cursor; default;">
            <img src="../images/flightlogo.png" alt="logo" class="logo" />
          </a></li>
        <li><a>HOME</a></li>
        <li><a>DESTINATIONS</a>
        </li>
        <li><a>OUR FLEET</a>
        </li>
        <li><a>CREW</a></li>
        <li><a>
            <img src="../images/logout.png" alt="logo" class="logout" />
          </a></li>
      </ul>

    </div>

  </body>
</html>