<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Profile</title>
  </head>
  <body>
    <h1>This is the User Profile</h1>
  </body>
  <br />
  <a href="/">Home</a>
  <form method="post" action="/auth/logout">
  <button>Logout</button>
</form>
</html> 