<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User LogIn Page</title>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:500,900,100,300,700,400"
      rel="stylesheet"
    />

    <link href="../stylesheets/passengerInfo.style.css" rel="stylesheet"/>
    <link href="../stylesheets/signup.style.css" rel="stylesheet"/>
    
  </head>
  <body>
      <section class="showcase">
        <div class="img-container">
            <img src="/images/universe-4609408_1280.webp" />
        </div>
        <div class="content">
          <h3>EXPERIENCE WHAT MOST CAN ONLY DREAM OF</h3>
            {{#if errorMessage}}
              <div class="error">{{errorMessage}}</div>
            {{/if}}
            <form action="/auth/signup" method="POST">
            
            <label for="email">FIRST NAME</label>
              <input class="form-selection form-selection1" autofocus type="text" name="firstName" placeholder="Letters only" required />
              <br>
              <label for="password">LAST NAME</label>
              <input class="form-selection" type="text" name="lastName" placeholder="Letters only" required />
              <br>
              <label for="email">DATE OF BIRTH</label>
              <input class="form-selection" type="date" name="birthDate" required />
              <br>
              <label for="email">EMAIL</label>
              <input class="form-selection" type="email" name="email" placeholder="Your email" required />
              <br>
              <label for="password">PASSWORD</label>
              {{!-- 2 for now, will have to be changed to 8 * later on --}}
              <input class="form-selection" type="password" name="password" placeholder="**" required />
              <br>
              <br>
              <button type="submit" class="btn">Submit</button> 
              <br>
              <a href="/" class="btn">Home</a>
              <br>
            </form>
             
   {{!-- <label for="passengers">Number of Passengers</label> 
    <select name="passengers" id="passengers" class="select"> 
        <option disabled selected>--</option> 
        <option value="1">1</option> 
        <option value="2">2</option> 
    </select> --}}

    <div class="container">
          <h2>XXXXXXX</h2>
          
          <div class="select-box">
              <div class="options-container active">
              <div class="option">
                <input type="radio" class="radio" id="passengers" name="passengers">
                <label for="1">1</label>
              </div>
              <div class="option">
                <input type="radio" class="radio" id="passengers" name="passengers">
                <label for="2">2</label>
              </div>
            </div>

              <div class="selected svg-icon svg-icon-primary svg-icon-2x">
              Number of Passengers
              <!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2021-05-14-112058/theme/html/demo8/dist/../src/media/svg/icons/Navigation/Plus.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
    <g stroke="none" stroke-width="1" fill="#182eb8" fill-rule="evenodd">
        <rect fill="#182eb8" x="4" y="11" width="16" height="2" rx="1"/>
        <rect fill="#182eb8" opacity="1" transform="translate(12.000000, 12.000000) rotate(-270.000000) translate(-12.000000, -12.000000) " x="4" y="11" width="16" height="2" rx="1"/>
    </g>
</svg><!--end::Svg Icon-->
            </div>
          </div>
        </div>
        </div>       
      </section>
  </body>
</html>


