<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up Page</title>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:500,900,100,300,700,400"
      rel="stylesheet"
    />
    <link href="../stylesheets/signup.style.css" rel="stylesheet"/>
</head>
<body>
    <h3>EXPERIENCE WHAT MOST CAN ONLY DREAM</h3>
<br>

<form action="/auth/signup" method="POST">
    <label>First Name:
        <input type="text" name="firstName" placeholder="First Name" />
    </label>
    <label>Last Name:
        <input type="text" name="lastName" placeholder="Last Name" />
    </label>
    <label>Date of Birth:
        <input type="date" name="birthDate" placeholder="MM/DD/YYYY" />
    </label>
    <label>Email:
        <input type="email" name="email" placeholder="username@email.com" />
    </label>
    <label>Password:
        <input type="password" name="password" placeholder="********" />
    </label>
    <br>
    <button>I'm flying to space</button>
</form>
<br>
<a href="/">Home</a>
<br>
{{#if errorMessage}}
<p class="error">{{errorMessage}}</p>
{{/if}}
</form>
</body>
</html>