<div>
    logo
</div>
<br>
<h1>
    <p>Travel to Space Now! 🚀</p>
</h1>

<div>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec gravida efficitur nisi vitae suscipit. Etiam
    venenatis suscipit lectus in venenatis. Maecenas urna elit, laoreet id nibh vel, dictum dictum diam. Vivamus
    placerat lectus at malesuada blandit. Maecenas vel nunc eget leo pharetra aliquet. In sit amet mauris erat.
    Phasellus in dui metus. Integer lorem neque, cursus in velit elementum, bibendum sollicitudin nulla. Sed laoreet
    aliquet posuere. Proin finibus ultricies elementum. Mauris finibus odio tortor, nec interdum quam varius ut. Cras
    quis commodo eros. Fusce vehicula rhoncus tortor eu porta. Quisque non nulla sem. Vivamus porta dui vel consequat
    finibus. Nulla facilisi.
</div>

<div>
    <a href="/auth/register">Register</a>
    <br>
    <a href="/auth/login">Login</a>
</div>