<h1>
    <p>Travel to Space Now! 🚀</p>
</h1>

<div>
    <form action="/register">
        <button type="submit">Register</button>
    </form>
    <form action="/login">
        <button type="submit">Login</button>
    </form>
</div>