<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Landing Page</title>
  </head>
  <body>

    <h1>New Era of Exploration is here </h1>
    <br>

    <p>Imagine a place where the horizon bends in a way you’ve never seen before, where the sky is not the limit but just the beginning.That place is closer than you think. Space, the final frontier is now accessible to you.</p>

    <br>

    <a href="/auth/login" class="button">Log In</a>
    <br>
    <a href="/auth/signup" class="button">Sign Up</a>

    </form>

  </body>
</html>