<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Landing Page</title>
  </head>
  <body>

    <div class="vid-background">
      <div class="vid-overlay"></div>
      <video autoplay muted loop playsinline>
      <source src="/images/earth.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
    </div>

    <div class="header-container">
      <div class="brand">
        <img src="../images/flightlogo.png" alt="brand logo"/>
        </div>
      <div id="indexh1"><h1>New Era of Exploration is here</h1></div>

    </div>
    
    <br>

    <div id="indexp">
      <span>Imagine a place where the horizon bends in a way you’ve never seen before, where the sky is not the limit but just the beginning.
      </span>
      <p>That place is closer than you think.</p>
      <p>Space, the final frontier is now accessible to you.</p>
    </div>

    <br>

    <a href="/auth/login" class="button">Log In</a>
    <br>
    <a href="/auth/signup" class="button">Sign Up</a>

    </form>

  </body>
</html>