<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Passenger Info</title>
</head>
<body>
    <section>
     <h2>Dropdown Menu</h2>
<p>Move the mouse over the button to open the dropdown menu.</p>

<div class="dropdown">
  <button class="dropbtn">Select</button>
  <div class="dropdown-content">
  <a href="#">1</a>
  <a href="#">2</a>
  </div>
</div>
    </section>
</body>
</html>