<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up Page</title>
  </head>
  <body>
    <h1>Experience what most can only dream</h1>
    <br />

    <form action="/auth/signup" method="POST">
      <label for="firstName">First Name:</label>
      <input type="text" name="firstName" required />
      <label for="lastName">Last Name:</label>
      <input type="text" name="firstName" required />
      <label for="email">Email:</label>
      <input type="email" name="email" required />
      <label for="password">Password:</label>
      <input type="password" name="password" required />
      <button type="submit">Log In</button>
    </form>

  </body>
</html>