.background-image{
    background-image: url('../images/starry.jpg');
    background-size: cover;
    background-position: center;
    background-repeat:repeat-y;
}

h1{
    color:azure;
    text-transform: uppercase;
    font-size: 2em;
    margin-top: 3%;
    margin-left: 37%;
}


.main-container {
    position:relative;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.departure-section, .destination-section {
    width: 50%;
}

.images-container img{
    position:absolute;
    margin-left: 10%;
}

#earth {
    width: 450px;
    height: auto;
}

#flightlogo {
    width: 700px;
    height: auto;
    margin-left: -3%;
    margin-top: 2%;

}

#depSpain {
    width: 450px;
    height: auto;
}

#depPhil, #depSweden, #depIndia {
    width: 450px;
    height: auto;
}

#depUsa {
    width: 470px;
    height: auto;
    margin-left: 9%;
}

#moon {
    width: 430px;
    height: auto;
    margin-top: 1.5%;
}

#mars {
    width: 465px;
    height: auto;
    margin-left: 8.5%;

}



#booking-container {
    background-color:rgba(255, 255, 255, 0.095); 
    backdrop-filter: blur(2px); 
    box-shadow: 0 2px 4px rgba(253, 252, 252, 0.1);
    position: absolute;
    margin: 1% auto;
    top:2000%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 1250px;
    height: 210px;
    border: 1px solid light;
    display: flex;
    
}

#bookingForm {
    margin-top: 2%;
    margin-left: -55%;
}

#departure-section {
    position:relative;
}


#departureSelect {
    display: none;
    
}


#departureLabel {
    cursor: pointer;
}



#departureLabel, #depDate, #destLabel, #returnDate {
    color: rgb(244, 238, 238);
    margin-left: 35%;
    margin-top: 3%;
    font-size: 200%;
    text-transform:lowercase;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}


#depDate, #returnDate {
    margin-left: -14.5%;
    margin-top: 6%;
    font-size: 150%;
    text-transform: uppercase;
    font-weight: lighter;
}

#destLabel {
    margin-left: 7%;
}

#returnDate {
    margin-left: -13.5%;
}

#departureLabel:hover, 
#destLabel:hover {
    color: rgb(26, 26, 220);
    cursor: pointer;
}

#depDate:hover, 
#returnDate:hover {
    color: rgb(189, 189, 13);
    cursor: pointer;
}



#submitBtn {
    position:absolute;
    background-color: whitesmoke;
    border: 0 solid #e2e8f0;
    color: #0d172a;
    cursor: pointer;
    width: auto;
    max-width: 200px;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1;
    padding: 10px 20px;
    margin-top: 74%;
    margin-left: 44%;
    text-align: center;
    text-decoration: none #0d172a solid;
    transition: all .1s cubic-bezier(.4, 0, .2, 1);
    border-radius: 60px;
    text-transform: uppercase;
}

#submitBtn:hover {
    background-color:#182eb8;
    color: #fff;
    transform: scale(1.15);
}

.dropdown-options {
    list-style-type: none;
    color: white;
    margin:0;
    padding:0;
    background-color:rgba(255, 255, 255, 0.095); 
    backdrop-filter: blur(2px); 
    box-shadow: 0 2px 4px rgba(253, 252, 252, 0.1);
    position:absolute;
    z-index: 10;
}

.dropdown-options li {
    padding: 9px 16px;
    cursor: pointer;
}

.dropdown-options li:hover {
    background-color: #0b1d95;
}