.background-image{
    background-image: url('../images/starry.jpg');
    background-size: cover;
    background-position: center;
    background-repeat:repeat-y;
}


h1{
    color:azure;
    text-transform: uppercase;
    font-size: 2em;
    margin-top: 3%;
    margin-left: 37%;
}


.main-container {
    position:relative;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.departure-section, .destination-section {
    width: 50%;
}

.images-container img{
    position:absolute;
    margin-left: 15%;
}

#earth {
    width: 450px;
    height: auto;
}

#flightlogo {
    width: 700px;
    height: auto;
    margin-left: -3%;
    margin-top: 2%;

}

#depSpain {
    width: 450px;
    height: auto;
}

#depPhil, #depSweden, #depIndia {
    width: 450px;
    height: auto;
}

#depUsa {
    width: 470px;
    height: auto;
  
}

#moon {
    width: 450px;
    margin-left: 10%;
    height: auto;
    margin-top: 0.5%;
}

#mars, #venus, #jupiter, #lo, #sun {
    width: 465px;
    height: auto;
    margin-left: 8.5%;

}



#booking-container {
    background-color:rgba(255, 255, 255, 0.095); 
    backdrop-filter: blur(2px); 
    box-shadow: 0 2px 4px rgba(253, 252, 252, 0.1);
    position: absolute;
    margin-top: 25%;
    margin-right: 25%;
    top:100%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 1600px;
    height: 230px;
    border: 1px solid light;
    display: flex;
    z-index: 10;
    
}

#bookingForm {
    margin-top: 2%;
    margin-left: -55%;
}

#departure-section {
    position:relative;
}


#departureSelect, #destinationSelect {
    display: none;
    
}


#departureLabel {
    cursor: pointer;
}



#departureLabel, #depDate, #destLabel, #retDate{
    color: rgb(244, 238, 238);
    margin-left: 35%;
    margin-top: 3%;
    font-size: 200%;
    text-transform:lowercase;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}


#depDate, #retDate {
    margin-left: -10%;
    margin-top: 6.5%;
    font-size: 120%;
    text-transform: uppercase;
    font-weight: lighter;
}

#destLabel {
    margin-left: 9%;
}

#returnDate, #DepartureDate {
    margin-left: -19%;
}

#retDate {
    margin-left: -11%;
}


#departureLabel:hover, 
#destLabel:hover {
    color: rgb(26, 26, 220);
    cursor: pointer;
}

#departureDate{
    margin-left: -12%;
}





#submitBtn, #backBtn {
    position:absolute;
    background-color: whitesmoke;
    border: 0 solid #e2e8f0;
    color: #0d172a;
    cursor: pointer;
    width: auto;
    max-width: 200px;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1;
    padding: 10px 20px;
    margin-top: 55%;
    margin-left: 77%;
    text-align: center;
    text-decoration: none #0d172a solid;
    transition: all .1s cubic-bezier(.4, 0, .2, 1);
    border-radius: 60px;
    text-transform: uppercase;
    z-index: 10;
} 

#backBtn {
    margin-left: 12%;
    margin-top: 27%;
}

#submitBtn:hover, #backBtn:hover {
    background-color:#182eb8;
    color: #fff;
    transform: scale(1.15);
}

.dep-dropdown-options, .dest-dropdown-options {
    list-style-type: none;
    color: white;
    margin-left:22%;
    margin-top:0;
    padding:0;
    background-color:rgba(255, 255, 255, 0.095); 
    backdrop-filter: blur(2px); 
    box-shadow: 0 2px 4px rgba(253, 252, 252, 0.1);
    position:absolute;
    transform: translateX(-50%);
    z-index: 10;
}

.dep-dropdown-options li, .dest-dropdown-options li {
    padding: 11px 16px;
    cursor: pointer;
}

.dest-dropdown-options li{
    padding-left: 35px;
    padding-right: 35px;
}

.dep-dropdown-options li:hover, .dest-dropdown-options li:hover{
    background-color: #0b1d95;
}

.dest-dropdown-options {
    margin-left: 73%;
}


/* Date picker */
.departure-date-picker, .return-date-picker {
    color:#c2c3c5;
    background-color:rgba(255, 255, 255, 0.065); 
    backdrop-filter: blur(2px); 
    box-shadow: 0 2px 4px rgba(253, 252, 252, 0.1);
    height: 15%;
    margin-top: 9%;
    margin-left: -12%;
    width: 12%;
}

.return-date-picker {
    height: 15%;
    margin-top: 9%!important;
    margin-left: -9.5%!important;
    width: 12%;
}

