@import url('https://fonts.googleapis.com/css?family=Raleway:200,400|PT+Mono&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:300');

/* horizontal navbar*/
.background-image {
    background-image: url('../images/profbackground.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
body, html {
    margin: 0;
    padding: 0;
}

.crew-photos {
    height: 350px;
}

.logo {
    height: 10px;
}

.carousel-photo {
    height: 300px;
}

/* .carousel-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} */