@import url('https://fonts.googleapis.com/css?family=Raleway:200,400|PT+Mono&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:300');

/* horizontal navbar*/
.background-image {
    background-image: url('../images/profbackground.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
  }
  
body, html {
    margin: 0;
    padding: 0;
}

.crew-photos {
    height: 350px;
}

h3 {
    color: white;
}

.nav {
    margin: 50px 50px 20px;
    height: 10px;
    position: relative;
}

.nav a {
    color: white;
}

.nav li:hover {
    color: #182eb8;
    transform: scale(1.15);
}

.pilot1:hover {
    color: #182eb8;
    transform: scale(1.15);
}

.pilot2:hover {
    color: #182eb8;
    transform: scale(1.15);
}

.pilot3:hover {
    color: #182eb8;
    transform: scale(1.15);
}

#demo {
    margin-left: 50px;
    margin-right: 50px; 
}

.carousel-caption {
    background-color:rgba(145, 139, 139, 0.095); 
    backdrop-filter: blur(3px); 
    border-radius: 10px;
    padding: 20px 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.carousel-caption > p {
    font-size: 15px;
}

.total {
    padding-bottom: 50px;
}

.carousel-photo { 
    margin-left: 40%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    height: 450px;
    width: 320px;
}

.carousel-photo1 {
    margin-left: 40%;
    height: 450px;
    width: 320px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}

.carousel-photo2 {
    margin-left: 40%;
    height: 450px;
    width: 320px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}

.adjust-hr {
    color: white;
    padding-bottom: 40px;
}

.carousel-slide {
    height: 500px;
    width: auto;
}

.meet-our-crew {
    margin: 0px 50px 30px;
}

.line-up1 {
    animation: 5s anim-lineUp ease-out;
  }
  @keyframes anim-lineUp {
    0% {
      opacity: 0;
      transform: translateY(80%);
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translateY(0%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }


.button {
    background-color: rgba(255, 255, 255, 0.3);
    border: 0 solid #e2e8f0;
    box-sizing: border-box;
    color: #0d172a;
    cursor: pointer;
    display: flex;
    justify-content: center;
    height: auto;
    margin: 30px;
    width: 300px;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
    /* font-weight: 600; */
    line-height: 1;
    text-align: center;
    text-decoration: none #0d172a solid;
    transition: all .1s cubic-bezier(.4, 0, .2, 1);
    border-radius: 60px;
    padding: 15px 10px;
}

.button:hover {
    background-color:#182eb8;
    color: #fff;
    transform: scale(1.15);
}

.btn {
    font-size: 12px;
}