/* @import url('https://fonts.googleapis.com/css?family=Roboto:300'); */


.background-image {
    background-image: url('../images/starry.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: repeat-x;
    overflow-y: auto;
  }


* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}


html, body {
    width: 100%;
}


section {
    display: inline-flex;
    justify-content: center;
    margin-left: 36%;
    margin-top: 2%;
    margin-bottom: 2%;
    gap: 30px;
    color: white;
}

.minus, .plus {
    padding: 2px 5px;
    
}

.passenger-selector span {
    margin: 0 10px;
   

}
.main-container {
    display: relative;
    height: 110vh;
    width: 100%;
   margin-left: 9%;
    padding: 0;
    
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color:rgba(255, 255, 255, 0.095); 
    backdrop-filter: blur(5px); 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    height: 98%;
    width: 80%;
    
}

.form {
    flex: 1;
}
   

.form1, .form2{
    padding-top: 5%;
    margin-left: 5%;
    margin-bottom: 5%;
    margin-right: 10%; 
}

#form2 {
     display: none; 
}

#form1 {
    margin-left: 25%;
    margin-right: 25%;
}


label {
    color: white;
    padding: 1%;
    padding-left: 2%;
    padding-right: 2%;
}

.form-control {
    color: black;
    background-color: #f8fbffa4;
}

.buttons{
    
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 3%;
    margin-top: -2%;
   
   
   
}

.buttons button, #backBtn, #cancelBooking{
    flex: 1 1 auto;
    margin-bottom: 10%;
    z-index: 10;
}


#submitForm, #cancelBooking, #backBtn{
  
    margin-left: 37%;
    background-color: #ffffff78;
    border: 0 solid #e2e8f0;
    box-sizing: border-box;
    color: #0d172a;
    cursor: pointer;
    display: flex;
    justify-content: center;
    width: auto;
    margin: auto;
    max-width: 200px;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none #0d172a solid;
    transition: all .1s cubic-bezier(.4, 0, .2, 1);
    border-radius: 60px ;
}



#submitForm:hover, #cancelBooking:hover, #backBtn:hover {
    background-color:#182eb8;
    color: #fff;
    transform: scale(1.15);
}



 /* Adjust styles for smaller screens */
@media screen and (max-width: 768px) {
    .form-container, .parent-container {
        height: auto;
        min-height: 100vh;
    }
}






/* 
.heading {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
}

.showcase {
    position: relative;
    height: 100%;
    background: #343f4f;
    background-image: url('/images/starsSpace.jpg');
}

.error {
    background: #f02b63;
    box-sizing: border-box;
    color: #fff;
    margin: 20px auto;
    padding: 20px;
    width: 100%;
    overflow: hidden;
}

.content {
    color: #fff;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content2 {
    color: #fff;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

.forms-container{
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 20px
    
}

.content-1-passenger, .content2 {
    flex:1;
    padding: 20px;
    max-width: 500px;
    background: rgba(77, 75, 75, 0.3);
    width: 800px;
    text-align: center;
}

.wrapper {
    height: 50px;
    width: 100%;
    max-width: 100px;
    color: #0d172a;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 12px;
    display:flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border: 0 solid #e2e8f0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.wrapper:hover {
    background-color:rgba(24, 46, 185);
    color: #fff;
}

.wrapper span {
    font-size: 30px;
    width: 100%;
    text-align: center;
    font-weight: 600;
    cursor: pointer;
    user-select: none;
}

.wrapper span.num {
    font-size: 25px;
    border-right: 2px solid rgba(0, 0, 0, 0.2);
    border-left: 2px solid rgba(0, 0, 0, 0.2);
    pointer-events: none;
}

.btn {
    background-color: rgba(255, 255, 255, 0.3);
    border: 0 solid #e2e8f0;
    box-sizing: border-box;
    color: #0d172a;
    cursor: pointer;
    display: flex;
    justify-content: center;
    height: auto;
    margin: auto;
    width: 200px;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
    /* font-weight: 600; */
    /* line-height: 1;
    text-align: center;
    text-decoration: none #0d172a solid;
    transition: all .1s cubic-bezier(.4, 0, .2, 1);
    border-radius: 60px;
}

.btn:hover {
    background-color:#182eb8;
    color: #fff;
    transform: scale(1.15);
}

.form-selection1 {
    background-color: rgb(205, 197, 197);
}

.label1 {
    padding-top: 50px;
}

.form-selection {
    width: 40%;
    height: 50px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: rgb(205, 197, 197);
}

.input:hover, input:focus {
    background-color:rgba(24, 46, 185, 0.4);
    color: #fff;
}

label {
    width: 180px;
    display: inline-block;
    text-align: left;
}

@media (max-width: 800px) {
    .forms-container {
        flex-direction: column;
    }
} */ 