@import url('https://fonts.googleapis.com/css?family=Roboto:300');

:root {
    --primary-color: #3a4052;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrapper {
    /*This part is important for centering*/
  display: grid;
  place-items: center;
}

h3 {
    font-size: 30px;
    margin-bottom: 35px;
    width: 39ch;
    animation: typing 4s steps(30), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: 'Roboto';
    font-size: 2em;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}

.btn {
    background-color: rgba(255, 255, 255, 0.3);
    border: 0 solid #e2e8f0;
    box-sizing: border-box;
    color: #0d172a;
    cursor: pointer;
    display: flex;  
    justify-content: center;
    width: auto;
    margin: auto;
    width: 200px;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
    /* font-weight: 600; */
    line-height: 1;
    text-align: center;
    text-decoration: none #0d172a solid;
    transition: all .1s cubic-bezier(.4, 0, .2, 1);
    border-radius: 60px ;
}

.btn:hover {
    background-color:#182eb8;
    color: #fff;
    transform: scale(1.15);
}

.showcase {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    line-height: 1.5;
    background: var(--primary-color);
    overflow: hidden;
}

.img-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.error {
    background: #f02b63;
    box-sizing: border-box;
    color: #fff;
    margin: 20px auto;
    padding: 15px;
    width: 100%;
}

.img-container:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(18, 18, 19, 0.5)
}

.content {
    z-index: 1;
    color: #fff;
    height: 100%;
    font-size: 20px;
    padding-top: 70px;
    padding-right: 100px;
    padding-left: 100px;
}

.img-container img {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form-selection1 {
    margin-top: 15px;
    background-color: rgb(205, 197, 197);
}

.form-selection {
    width: 25%;
    height: 50px;
    margin-bottom: 20px;
    border-radius: 20px;
    padding: 20px;
    background-color: rgb(205, 197, 197);
}

label {
    width: 240px;
    display: inline-block;
    text-align: left;
}

